@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --font-heading: 'OutfitB', sans-serif;
}

@layer base {
  body {
    @apply min-h-screen bg-[#7c94b8] m-0;
  }
}