@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Custom Scrollbar (Matte Style) ===== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7a8450;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a8450;
}


:root{
  --font-heading: 'OutfitB', sans-serif;
  --font-body: 'Rubik', sans-serif;
}

@layer base {
  body {
    @apply min-h-screen bg-[#3e5649] m-0;
  }
}